* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:focus,
  &:focus-visible,
  &:active,
  &:hover {
    outline: 0;
  }
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}